/* .App {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
}
